<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="<%= url('/message.css') %>">
  <title>Read my mind, literally</title>
</head>
<body>
  <div class="container">
    <div class="empty-top"></div>
    <div class="message">
      <p class="verse-1">"<%= @message.verse_1 %></p>
      <p class="verse-2"><%= @message.verse_2 %>"</p>
    </div>
    <div class="footer">
      <p>An attempt to throw the weight of tough days into some poetic ways. More intimate code/art relationships on <a href="https://www.yannklein.me">my portfolio</a>.</p>
    </div>
  </div>
</body>
</html>
