<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Read my mind, literally</title>
  <style>
  input[type=text] {
  width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
</style>
</head>
<body>
  <h1>Another day, another message</h1>
  <form action="/write-my-mind" method="post">
    <input name="verse_1" type="text">
    <input name="verse_2" type="text">
    <input type="submit">
  </form>
  <a href="/">Back to today's message</a>
</body>
</html>




