@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: 'EB Garamond', serif;
  color: rgb(40,40,40);
  margin: 0;
  height: 100vh;
}

p {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 800px;
  margin: 0 auto;
}

.message {
}

.message p {
  font-size: 64px;
}

.message .verse-2 {
  margin-left: 64px;
}

.footer {
  text-align: center;
  font-weight: lighter;
  margin-bottom: 8px;
}
